/* google font import */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  /* color variables */
  --bg-primary: #413c58; /* english violet */
  --bg-secondary: #a3c4bc; /* ash gray */
  --font-color-primary: #bfd7b5; /* tea green */
  --font-color-secondary: #e7efc5; /* cream */
  --backup-color: #f2dda4; /* vanilla */
}

.page-1 {
  background: url(../assets/page-1.jpg);
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page-1 .hero .logo {
  max-width: 200px;
}

.page-1 .hero .title {
    font-size: 90px;
    font-family: "Playfair Display" ;
}
