/* google font import */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  --font-color-primary: #2a2828;
  --font-color-secondary: #dc622d;
  --backup-color: #fff;
}

/* big albania title page */
.page-1 {
  background: url(../assets/page-1.jpg);
  height: 100vh;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page-1 .hero .logo {
  max-width: 150px;
}

.page-1 .hero .title {
  font-size: 150px;
  color: var(--font-color-secondary);
  font-family: "Playfair Display";
}

.page-1 .hero .subtitle {
  color: var(--font-color-primary);
}

.page-1 .hero .icon {
  font-size: 150px;
  color: var(--font-color-secondary);
}

/* albania on your list? */
.page-2 {
  background: url(../assets/page-5.jpg);
  height: 70vh;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.page-2 .intro-left {
  padding: 50px;
  width: 600px;
}
.page-2 .intro-left h2 {
  font-size: 90px;
  font-family: "Playfair Display";
  line-height: 80px;
  color: var(--font-color-secondary);
}

.page-2 .intro-right {
  padding: 50px;
  width: 500px;
}

.page-2 .intro-right p {
  font-size: 18px;
  text-align: justify;
  color: var(--font-color-primary);
  padding-bottom: 20px;
}

.page-2 .intro-right button {
  padding: 5px 20px 5px 20px;
  font-family: "Playfair Display";
  background-color: var(--font-color-secondary);
}

.page-3 {
  background: url(../assets/page-2.jpg);
  height: 80vh;
  background-size: cover;
  padding: 40px;
  text-align: center;
}

.page-3 h2 {
  font-size: 50px;
  font-family: "Playfair Display";
  line-height: 45px;
  color: var(--font-color-secondary);
  margin-bottom: 30px;
}

.page-3 .activities {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.page-3 .container {
  width: 300px;
  height: 400px;
  position: relative;
  margin-bottom: 20px;
  text-align: left;
}

.page-3 img {
  max-width: 300px;
  object-fit: cover;
}

.page-3 h3 {
  color: var(--backup-color);
  font-family: "Playfair Display";
  font-size: 20px;
  padding-left: 20px;
  position: absolute;
  bottom: 80px;
}

.page-3 .icon {
  position: absolute;
  padding-left: 10px;
  bottom: 5px;
  font-size: 80px;
  color: var(--font-color-secondary);
}

.page-3 button {
  margin-top: 20px;
  padding: 5px 20px 5px 20px;
  font-family: "Playfair Display";
  color: var(--backup-color);
  background-color: var(--font-color-secondary);
}

/* biggest paragraph page */
.page-4 {
  background: url(../assets/page-4.jpg);
  height: 80vh;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.page-4 .recommendations {
  padding: 50px;
  width: 600px;
}
.page-4 .recommendations h2 {
  font-size: 90px;
  font-family: "Playfair Display";
  line-height: 85px;
  color: var(--font-color-secondary);
}

.page-4 .content {
  padding: 50px;
  width: 500px;
}

.page-4 .content p {
  font-size: 18px;
  text-align: justify;
  color: var(--backup-color);
  padding-bottom: 20px;
}

.page-4 h3 {
  font-family: "Playfair Display";
  color: var(--backup-color);
  font-size: 22px;
  margin-bottom: 10px;
}

.page-5 {
  background: url(../assets/page-3.jpg);
  height: 60vh;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}





.page-6 .author-info img {
  max-width: 150px;
}
